*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0B0B0F;
    color:white;
    font-family:Arial, Helvetica, sans-serif;

    display:flex;
    justify-content:center;
    align-items:center;

    flex-direction:column;

    min-height:100vh;
}

h1{
    font-size:3rem;
}

p{
    margin-top:15px;
    color:#9CA3AF;
    font-size:1.2rem;
}